<a href="https://colab.research.google.com/github/saidimt/AI-model-Digital-Forensic/blob/main/TF_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Publick link

In [ ]:
!wget https://raw.githubusercontent.com/saidimt/titanic-data/main/titanic%20passenger%20list.csv

--2023-10-31 12:35:53--  https://raw.githubusercontent.com/saidimt/titanic-data/main/titanic%20passenger%20list.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 118062 (115K) [text/plain]
Saving to: ‘titanic passenger list.csv’

titanic passenger l 100%[===================>] 115.29K  --.-KB/s    in 0.08s

2023-10-31 12:35:53 (1.46 MB/s) - ‘titanic passenger list.csv’ saved [118062/118062]

In [ ]:
!ls

 sample_data  'titanic passenger list.csv'

In [ ]:
import pandas as pd

In [11]:
pd.read_csv('titanic passenger list.csv').head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

# **Clone data from github**

In [13]:
!git clone https://github.com/pengfei123xiao/Natural-Language-Processing-with-Python.git

Cloning into 'Natural-Language-Processing-with-Python'...
remote: Enumerating objects: 2064, done.
remote: Total 2064 (delta 0), reused 0 (delta 0), pack-reused 2064
Receiving objects: 100% (2064/2064), 90.72 MiB | 23.27 MiB/s, done.
Resolving deltas: 100% (30/30), done.
Updating files: 100% (2127/2127), done.

## This is the first **heading!**



```
# This is formatted as code
for item in list:
 print(item)
```

![download.jfif]()

[The Univeristy of Dodoma](https://www.udom.ac.tz)

☹

$ ax +bx^2 +yx^3 = 0 $